aws:
    access_key_id: ""
    secret_access_key: ""

    keypair_name: ""
    private_key_path: ""

    instance_type: "m1.small"
    region: "eu-west-1"
    ami: "ami-036eaa74"
    ssh_username: "ubuntu"
    security_groups:
        - salt-minion
        - test-web
