aws:
    access_key_id: ""
    secret_access_key: ""

    keypair_name: "tmp-corley-cms"
    private_key_path: "~/Amazon/walterdalmut/tmp-corley-cms.pem"

    instance_type: "m1.small"
    region: "eu-west-1"
    ami: "ami-036eaa74"
    ssh_username: "ubuntu"
    security_groups:
        - salt-minion
        - test-mqtt

openstack:
    username: ""
    api_key: ""
    floating_ip: ""
    keypair_name: "wdm"
    private_key_path: "~/Enter/walterdalmut/wdm.pem"

digitalocean:
    token: ""
    image: "Ubuntu 14.04 x64"
    region: "nyc2"
    size: "512mb"
